*.a
*.o
*.out
*.tk
*.in
*.swp
.config.old
.oldconfig
*.log

/config/scripts
/lib/
/romfs/
/images/

# Ignore helper symlinks
driver

# Never ignore .gitignore file
!.gitignore

# Ignore backups
linux-2.6.21.1/drivers/media/bak.ceid_camera.c
